<div id="<%= dom_id newspaper %>">
  <p>
    <strong>Name:</strong>
    <%= newspaper.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= newspaper.link %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= newspaper.myinfo %>
  </p>

</div>
