<% content_for :title, "Editing newspaper" %>

<h1>Editing newspaper</h1>

<%= render "form", newspaper: @newspaper %>

<br>

<div>
  <%= link_to "Show this newspaper", @newspaper %> |
  <%= link_to "Back to newspapers", newspapers_path %>
</div>
